* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

/* body {
  margin: 0 auto;
  padding: 0;
} */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  }

/* Navbar */

.nav-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  line-height: 2.2rem;
  overflow: hidden;
  font-size: 1.7rem;
  background-color: #000;
  padding: 3rem;
  border-radius: 6px;
}


.nav-meny {
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}


.nav-item {
  flex: 1 0 100%;
  text-align: center;
}

.nav-meny a {
  display: block;
  text-decoration: none;
  letter-spacing: 0.5rem;
  padding: 1.2rem;
  color: beige;
  transition: all ease-in-out 0.5s;
}


.nav-meny a:hover {
  background-color: #EAD7BB;
  transform: scale(1.1);
}

.nav-meny a:active {
  transform: scale(0.9);
  text-decoration: underline;
}


/* Main cards */

.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-cards {
  /* border: 2px solid black; */
  width: 45rem;
  height: 28em;
  margin: 1em;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card2 {
  display: flex;
  flex-direction: column;
}

.profiltext {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  margin: 1.2rem;
  object-fit: contain;
}

.cv-link {
  /* text-decoration: none; */
  color: #000;
  margin-top: auto;
  margin-left: 1rem;
  font-size: 1.4rem;
}

/* Project cards */

.rubrik {
  font-size: 3rem;
  margin: 0.4em;
}

.project-section {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  /* border: 2px solid black; */
  height: 25rem;
  width: 20rem;
  margin: 0.6em;
  display: flex;
  /* justify-content: center;
  align-items: end; */
}

.project-card1 {
  background-image: url(../image/AI-min.jpeg);
  background-position: left;
}

.project-card2{
  background-image: url(../image/mobility.jpg);
  background-repeat: none;
}

.project-card3 {
  background-image: url(../image/facts1-min.jpg);
  background-position: top;
}

.project-card4 {
  background-image: url(../image/mountain.jpg);
  background-position: center;
}

.project-card1, .project-card2, .project-card3, .project-card4 {
  filter: grayscale(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-text {
  color: white;
  font-size: 1.4rem;
  padding: 1.2rem;
}

button {
  background-color: #000;
  color: beige;
  padding: 0.6em 1em;
  text-decoration: none;
  text-align: center;
  font-size: 1.8;
  margin-top: auto;
  margin-bottom: 1em;
  border: none;
}

.hide {
  display: none;
  font-size: 1.6rem;
}

.project-button:hover + .hide {
  display: block;
  color: white;
}



.link {
  color: beige;
}




/* Footer */

footer {
  background-color: black;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}

i {
  color: white;
  font-size: 3rem;
  margin: 2rem;
}


@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


@media (min-width: 700px) {
 
  .nav-item {
    flex: 1 0 10%;
  }

  .main-section {
    display: flex;
    justify-content: center;
    gap: 8rem; 
  }

  .main-cards {
    flex: 1 0 10%;
    max-width: 43%;
    min-height: 50rem;
  }

  .project-section {
    display: flex;
    gap: 8rem;
    justify-content: center;
  }

  .cards {
    flex: 1 0 10%;
    min-height: 40rem;
    max-width: 18%;
  }

  button {
    padding: 0.5em 2.5em;
  }

  .rubrik {
    margin-left: 12rem;
  }

  main {
    padding: 6rem;
  }


}


